<% layout('/layout/boilerplate') -%>
<div>
  <div class="card">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Order</h5>
      </div>
      <div class="col">
        <h5 class="card-title">Username</h5>
      </div>
      <div class="col">
        <h5 class="card-title">E-mail</h5>
      </div>
    </div>
  </div>
</div>
<hr />
<% for (let o of order){ %> 
<div>
  <div class="card mb-3">
    <div class="row">
      <div class="col">
        <a href=""><h5 class="card-title"><%= o.id %></h5></a>
      </div>
      <div class="col">
        <p class="card-title"><%= o.user.username %></h5>
      </div>
      <div class="col">
        <h5 class="card-title"><%= o.user.email %></h5>
      </div>
    </div>
  </div>
</div>
<% } %> 
