.nav {
  display: none;
}
.col-2 {
  position: absolute;
}
.close-modal {
  position: relative;
  top: -1rem;
  right: 1rem;
  font-size: 0.5rem;
  color: var(--color-second);
  cursor: pointer;
  border: rgb(133, 133, 133) solid 1px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.deleteform {
  display: inline;
}
.hidden {
  display: none;
}

.size-invalid,
.color-invalid,
.category-invalid {
  width: 100%;
  margin-top: 0.25 rem;
  font-size: 0.875em;
  color: #dc3545;
}
