body {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}
.logo {
  margin: 0 auto;
}
ul {
  list-style-type: none;
  justify-content: center;
}
.nav-item a {
  color: var(--color-primary);
  font-size: 1.5em;
  text-decoration: none;
  height: 2.5em;
  white-space: nowrap;
}

.logo-img {
  display: block;
  margin: auto;
}

.login {
  width: 2em;
  position: absolute;
  right: 15em;
  top: 10px;
}
.shopping-bag {
  width: 2em;
  position: absolute;
  right: 9em;
  top: 10px;
}
.signup {
  width: 1.5em;
  position: absolute;
  right: 18em;
  top: 14px;
}
.logout {
  width: 2em;
  position: absolute;
  right: 12em;
  top: 10px;
}

.shopping-cart-display {
  border: none;
  align-content: start;
}
.card-img {
  width: 4em;
  display: inline;
}
.delete-form {
  display: inline;
  position: relative;
  top: -3em;
}
.shoppingCart-card-title {
  font-size: 1em;
  display: inline;
  position: relative;
  top: -1em;
}

.shoppingCart-card-text {
  font-size: 1em;
  display: inline;
  position: relative;
  top: -2em;
  left: 5em;
}
