.sidenav {
  display: none;
}

.form-width {
  width: 80%;
  float: right;
  padding-right: 3em;
}
#count {
  min-width: 3em;
  border: none;
  border-bottom: solid 1px var(--color-second);
  text-align: center;
}

.overflow {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.slide-random {
  transition: transform 1s;
}

.slider__btn {
  position: absolute;

  /* font-family: inherit; */
  border-radius: 50%;

  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(0%, -400%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(0%, -400%);
}
