:root {
  --color-primary: #b08968;
  --color-second: rgb(120, 117, 117);
}
.seeDetail {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}
.seeDetail:hover {
  color: var(--color-primary);
}
.hidden {
  opacity: 0;
}

.show-detail {
  position: absolute;
  z-index: 1;
  top: 10em;
  background-color: white;
  width: 100%;
  transition: 0.5s;
}
.price {
  font-size: 0.6em;
  float: right;
}

.bi {
  font-size: 3em;
}
