<footer class="footer py-5 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="" src="/pic/logo.png" alt="" srcset="" />
      </div>

      <div class="col">
        <h4 class="text-center my-5">Contact</h4>
        <p>leigh79712@hotmail.com</p>
        <p>Jie Lin Yang</p>
      </div>
      <div class="col">
        <h4 class="text-center my-5">Follow Us</h4>
      </div>
    </div>

    <div class="text-center">
      <p>Design by Jie Lin</p>

      Logo通過<a
        href="https://www.designevo.com/tw/"
        title="免費線上logo製作軟體"
        >DesignEvo</a
      >設計製作
    </div>
  </div>
</footer>
