<link rel="stylesheet" href="/css/navbar.css" />

<nav class="nav-top">
  <div class="container">
    <div class="logo m-2">
      <a href="/"><img class="logo-img" src="/littletree/logo.png" alt="" /></a>
    </div>
    <div>
      <a href="/"><img class="login" src="/littletree/account.png" alt="" /></a>
      <a href="/"
        ><img class="shopping-bag" src="/littletree/shopping-cart.png" alt=""
      /></a>
    </div>
    <div class="d-none d-lg-block d-xl-block">
      <ul class="row">
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products/new">New</a>
          </li>
        </div>

        <% for (let c of category){%>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/category/<%= c._id %>"
              ><%= c.otherCategory[1].toUpperCase() + c.otherCategory.slice(2)
              %></a
            >
          </li>
        </div>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
