<link rel="stylesheet" href="/css/navbar.css" />

<nav class="nav-top">
  <div class="container">
    <div class="logo m-2">
      <a href="/"><img class="logo-img" src="/pic/logo.png" alt="" /></a>
    </div>
    <div>
      <a href="/login"><img class="login" src="/pic/account.png" alt="" /></a>
      <a href="/signup"
        ><img class="signup" src="/pic/add-user.png" alt=""
      /></a>
      <a
        class="btn"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        ><img class="shopping-bag" src="/pic/shopping-cart.png" alt=""
      /></a>
      
    </div>
    <div class="d-none d-lg-block d-xl-block">
      <ul class="row">
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products/new">New</a>
          </li>
        </div>

        <% for (let c of category){%>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/category/<%= c._id %>"
              ><%= c.otherCategory[1].toUpperCase() + c.otherCategory.slice(2)
              %></a
            >
          </li>
        </div>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Shopping Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
