<link rel="stylesheet" href="/css/sidebar.css" />
<div class="col-2">
  <ul class="nav flex-column side-col">
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
    </div>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/products/new">New</a>
      </li>
    </div>

    <% for (let c of category){%>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/category/<%= c._id %>"
          ><%= c.otherCategory[1].toUpperCase() + c.otherCategory.slice(2) %></a
        >
      </li>
    </div>

    <% } %>
  </ul>
</div>
