<link rel="stylesheet" href="/css/sidebar.css" />

<div class="d-none d-md-block col-md-2 sidenav">
  <ul class="nav flex-column side-col">
    <% if(currentUser && admin){ %> <% for(let i =1 ; i<=5;i++){ %>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/admin/edithomepage_<%=i%>"
          >Home Page IMG-<%=i%></a
        >
      </li>
    </div>
    <% } %>
    <!-- <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/admin/edithomepage">Edit Home Page IMG</a>
      </li>
    </div> -->
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/products/editCategory">Edit Category</a>
      </li>
    </div>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/admin/order">Order</a>
      </li>
    </div>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/products/new">New</a>
      </li>
    </div>
    <% } %> <% if(!currentUser || currentUser && !admin){ %> <% for (let c of
    category){%>
    <div class="col">
      <li class="nav-item">
        <a class="nav-link" href="/<%= c._id %>"
          ><%= c.otherCategory[1].toUpperCase() + c.otherCategory.slice(2) %></a
        >
      </li>
    </div>
    <% } %> <% } %>
  </ul>
</div>
