<% layout('/layout/boilerplate') -%>
<script>
  const newOrder = <%- JSON.stringify(order) %>
</script>
<script defer src="/javascript/order.js"></script>
<link rel="stylesheet" href="/css/shoppingCart.css" />
<h1>You have success ordered!</h1>
<div class="row">
  <div id="appendHtml" class="center offset-1"></div>
</div>
