<% layout('/layout/boilerplate') -%>
<script>
  const newOrder = <%- JSON.stringify(order) %>
</script>
<script src="/javascript/order.js"></script>

<div class="row">
  <div class="center offset-1"></div>
</div>
